/*#click2{
    font-size:120%;
}*/

/*body{
    text-align: center;
}

h1{
    font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
}
#opcje{
    border-bottom: 1px solid black;
}
#Dozaplaty{
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    width: 100px;
    height: 45px;
}
#rabacik{
    border: 2px solid red;
}
#oblicz{
    margin-top: 10px;
    margin-bottom: 15px;
}*/

#cos{
    width: 10px;
    height: 10px;
    background-color: green;
    position: relative;
}